# Astro dev/build outputs
.astro
dist
data

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.prompts
.crossnote
tmp

# Local env files
.env
.env.*
!.env.example
.ruby-version
.commit_hash.txt

# VSC
.history

# Docker
Dockerfile.*
!Dockerfile.example

# Jupyter
.ipynb_checkpoints
*.ipynb
