@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme("fontFamily.serif");
  }

  /* Apply brand font to headings and buttons */
  h1,
  h2,
  button,
  a.block {
    font-family: theme("fontFamily.brand");
  }
}

.onetime-logo-icon {
  background-image: url("~/assets/img/onetime-logo-v3-xl.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}
