---
// src/layouts/LandingLayout.astro
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body class="bg-gray-900 text-white">
    <main>
      <slot />
    </main>
  </body>
</html>
