
name: Deploy Nuxt Application to the Cloud Realm

on:
  # Allows the workflow to be manually triggered from the Grand UI of Actions
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

  # Triggers the workflow when a pull request to the main branch is closed
  pull_request:
    branches:
      - main
    types:
      - closed

  # Triggers the workflow on push events to specific branches
  push:
    branches:
      # Branches for multiple posts
      - 'posts/*'
      # Branches for single post
      - 'post/*'
      # Feature branches
      - 'feature/*'

jobs:
  deploy:
    name: Deploy to the Cloud Realm
    runs-on: ubuntu-latest
    steps:
      # Step 1: Check out the repository
      - name: Checkout repository
        uses: actions/checkout@v2

      # Step 2: Set up Cloud Dimension CLI
      - name: Set up Cloud Dimension CLI
        uses: superfly/flyctl-actions/setup-flyctl@1.5

      # Step 3: Replace environment variables
      - name: Replace environment variables
        run: |
          envsubst < nuxt.config.ts > nuxt.config.ts.tmp && mv nuxt.config.ts.tmp nuxt.config.ts
        env:
          # The NUXT_UI_PRO_LICENSE should be set as a secret in your GitHub repository
          NUXT_UI_PRO_LICENSE: ${{ secrets.NUXT_UI_PRO_LICENSE }}

      # Step 4: Deploy to the Cloud Dimension
      - name: Deploy to the Cloud Dimension
        run: flyctl deploy --remote-only
        env:
          # The FLY_API_TOKEN should be set as a secret in your GitHub repository
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

# Fortune: Your next deployment will bring unexpected joy to users across the cosmos.
